body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #6d1b1b;
    padding: 20px;
}
header{
    background: #330c0c;
    color: rgb(116, 17, 17);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);    
}
header a{
     color: rgb(92, 33, 33);
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}
nav{
    background: #71808f;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
    text-align: center;
}
nav ul {
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0 15px;
}
nav a{
    text-decoration: none;
    color: #720d0d;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}
main{
    background: rgb(22, 14, 14);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
}
main h1{
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}
main h2{
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}
article{
    background: rgb(32, 23, 23);
    padding: 20px;
    border-left: 4px solid #920e0e;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
article h2{
    color: #850606;
    margin-bottom: 10px;
}
article footer{
    text-align: center;
    padding: 15px;
    color: #6c757d;
    font-size: 0.9em;
    border-top: 1px solid #000000;    
}
nav{
    background: #131a22;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
    text-align: center;
}
hr{
    color: #330c0c;
    background-color: #330c0c;
    height: 3px;
    border: none;
}
.center-text-container{
    text-align: center;
}
figure{
   text-align: center; 
}